:root {
	--main-back: #000;
	--main-text: #fff;
	--main-p-text: #423289;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;

}

body {
	margin: auto;
	width: 750px;
	height: 1334px;
	color: var(--main-p-text);
	font-size: 16px;
}

h1 {
	font-size: 35px;
}

#backbt {

	position: absolute;
	left: 5px;
	color: var(--main-text);
	top: 20px;
	display: flex;
}


#backbt::before {
	font-size: 2rem;
	content: "\3008 ";
	margin-right: 3px;
	position: relative;
	top: -10px
}


main {
	display: flex;
	flex-direction: column;

}

header figure img {
	margin-left: -50px;
	vertical-align: middle;
	max-width: 750px;
	max-height: 530px;
}
